
<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-md navbar-dark bg-black px-0"> 
    <p class="navbar-brand mr-5" href="#" > 
      <span class="fas fa-home" style="cursor:pointer;" data-reload="true" id="home"></span> LC-MS QUALITY CONTROL VISUAL ANALYTICS</p>  
      <button style="margin-left:5px;" class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span> 
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> 
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fas fa-angle-down"></span> Charts</a> 
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbar-machines"> 
                 
              </div> 
            </li>
            <li class="nav-item"> <a class="nav-link" href="#" data-tooltip="View the User Guide"><span class="fas fa-info"></span> User Guide</a> </li>
          </ul>
      </div>
  </nav>
</div>





